* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* main font */
    color: ;
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles start */
header {
    padding: 0px 35px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    margin: 0;
    display: inline;
}

header img {
    width: 88%;  
}
  
header a {
    text-decoration: none;
    color: gold;
}

header nav {
    float: right;
    margin: 36px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 18px;
}
/* header styles end */


/* banner styles start */
.banner {
    background: gold;
    padding: 12px 35px;
    text-align: center;
}
/* banner styles end */


/* carousel styles start */
.carousel {
    margin: auto;
    width: 80%;
}

.carousel-item {
    height: 628px;
    background-size: cover;
    background-position: center;
}
/* carousel styles end */


/* info card styles start */
.info-card {
    margin-left: 100px;
    margin-bottom: 40px;
    background-color: gold;
    padding: 20px;
    width: 440px;
    box-shadow: 10px 5px 5px gray;
}

.info-card h4 {
    margin: 0;
}
  
/* info card styles end */


/* main body text styles start */

.intro h3 {
    color: grey;
    margin-bottom: 35px;
    padding: 0 100px 20px 0px;
    border-bottom: 3px solid;
    border-color: gold;
    width: 80%;
    margin: 0 auto 18px;
}

.intro p {
    line-height: 1.7;
    color: slategray;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 18px;
  }
/* main body text styles end */


/* footer styles start */
footer {
    background: gold;
    width: 100%;
    padding: 18px 35px;
}

footer div {
    line-height: 1.5;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 30px;
}

footer ul li a {
    color: #000000;
}
/* footer styles end */


/* to give all the sections a consistent look */
section {
    padding: 30px 60px 60px 60px;
}