* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* main font */
    color: ;
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles start */
header {
    padding: 6px 35px;
    background-color: #000000;
}

header h1 {
    margin: 0;
    display: inline;
}
  
header a {
    text-decoration: none;
    color: gold;
}

header nav {
    float: right;
    margin: 36px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* header styles end */


/* banner styles start */
.banner {
    background: gold;
    padding: 12px 35px;
    text-align: center;
}
/* banner styles end */


/* carousel styles start */
.carousel {
    margin: auto;
    width: 80%;
}
/* carousel styles end */


/* footer styles start */
footer {
    background: gold;
    width: 100%;
    padding: 18px 35px;
}

footer div {
    line-height: 1.5;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 30px;
}

footer ul li a {
    color: #000000;
}
/* footer styles end */


/* to give all the sections a consistent look */
section {
    padding: 60px;
}